@import "../../styles.scss";
.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  justify-content: flex-start;
  @media (max-width: 767px) {
    flex-direction: row;
    min-width: 335px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    // Tablet styles here
    flex-direction: column;
    max-width: 328px;
  }

  @media (min-width: 1024px) {
    // Desktop styles here
    flex-direction: column;
    max-width: 384px;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #0876dd;
    z-index: 2;
    margin-bottom: 10px;
    @media (max-width: 767px) {
        min-width: 56px;
      width: 56px;
      height: 56px;
      margin-right: 1rem;
    }

    img {
      width: 24px;
      height: 24px;
      z-index: 3;

      @media (max-width: 767px) {
        width: 15.27px;
        height: 15.27px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: white;
      z-index: 1;
      // padding: 32px;
      width: 64px;
      height: 64px;
      @media (max-width: 767px) {
        width: 40.73px;
        height: 40.73px;
        img{
            width: 16px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      align-items: start;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    // margin-top: 10px;
    @media (max-width: 767px) {
      text-align: left;
    }
  }

  .description {
    font-size: 14px;
    color: #666;
    // margin-top: 5px;
    @media (max-width: 767px) {
      text-align: left;
    }
  }
}
